<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<title>BANK MARKETING CAMPAIGN</title>
</head>

<body style="background: #997070;">
 <div class="login">
	<h1 style="color:Black;">PREDICTION FOR CUSTOMER INTEREST IN  DEPOSITE TERM</h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{ url_for('predict')}}"method="post">
    	<label for="Age">Age:</label>
        <input type="text" name="Age" placeholder="Enter your Age" required="required" /><p><br>
        <label for="Job">Job:</label>
        <input type="text" name="Job" placeholder="Select option (0-11)" required="required" /><p>
        <h8 style="color:white;">List of Job:</h8><br>
        <h8 style="color:white;">0:Admin, 1:Blue-Collar, 2:Entrepreneur, 3:Housemaid,
        4:Mangement, 5:Retired,</h8><br>
        <h8 style="color:white;"> 6:Self-employed,7:Services, 8:student, 9:Technician,
        10:Unemployed, 11:Un-known</h8><br></br>
        <label for="Marital">Marital Status:</label>
        <input type="text" name="Marital" placeholder="Select option (0-2)" required="required" /><p>
        <h8 style="color:white;">Marital Status:</h8>
        <h8 style="color:white;">0:Diavorced, 1:Married, 2:Single</h8><br></br>
        <label for="Education">Education:</label>
        <input type="text" name="Education" placeholder="Select option(0-3)" required="required" /><p>
        <h8 style="color:white;">Level of Education:</h8>
        <h8 style="color:white;">0:Primary, 1:Secondary, 2:Tertiary, 3:Unknown</h8><br></br>
        <label for="Default">Credit Default:</label>
        <input type="text" name="Default" placeholder="0=No / 1=Yes" required="required" /><p><br>   
        <label for="Balance">Balance:</label>
        <input type="text" name="Balance" placeholder="Enter Balance" required="required" /><p><br>
        <label for="Housing">Housing Loan:</label>
        <input type="text" name="Housing" placeholder="0=No / 1=Yes" required="required" /><p><br>
        <label for="Loan">Personal Loan:</label>
        <input type="text" name="Loan" placeholder="0=No / 1=Yes" required="required" /><p><br>
        <label for="Contact">Contact Communicattion Type:</label>
        <input type="text" name="Contact" placeholder="Select option (0-2)" required="required" /><p>
        <h8 style="color:white;">Contact Communicattion Types:</h8>
        <h8 style="color:white;">0:Cellular, 1:Telephone, 2:Unknown</h8><br></br>
        <label for="Day">Day:</label>
        <input type="text" name="Day" placeholder="Enter workday number" required="required" /><p><br>
        <label for="Month">Month:</label>
        <input type="text" name="Month" placeholder="Enter month number" required="required" /><p>
        <h8 style="color:white;">Months:</h8><br>
        <h8 style="color:white;">0:April, 1:Aug, 2:Dec, 3:Feb, 4:Jan, 5:Jul, 6:jun,7:Mar, 8:May, 9:Nov,
        10:Oct, 11:Sep</h8><br></br>
        <label for="Campaign">Campaign:</label>
        <input type="text" name="Campaign" placeholder="Enter campaign days" required="required" /><p><br>
        <label for="Pdays">Days Passed by:</label>
        <input type="text" name="Pdays" placeholder="Enter number of days" required="required" /><p><br>
        <label for="Previous">Previous:</label>
        <input type="text" name="Previous" placeholder="Enter number of days"" required="required" /><p><br> 
        <label for="Poutcome">Previous Marketing Outcome:</label>
        <input type="text" name="Poutocme" placeholder="Select option(0-3)" required="required" /><p>
        <h8 style="color:white;">Previous Marketing Outcome:</h8>
        <h8 style="color:white;">0:Failure, 1:Success, 2:Other, 3:Unknown</h8><br></br>
     
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button></p>
    </form>
    <div class="login">
	<h1 style="color:Black;">The client will subscribe a term deposit</h1><br></br>
	<h1 style="color:Red;"> {{prediction_text}}</h1>
	</div>
	<h8 style="color:white;">1 = Yes </h8><br>
	<h8 style="color:white;">0 = No </h8><br>

 </div>

</body>
</html>